.intro3 {
  width: 100%;
  background-image: linear-gradient(180deg, #0A2E9E 0%, #780BBD 100%);
}
.intro3 .intro3__title h1 {
  font-size: 28px;
  color: white;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  padding: 90px 0 75px 0;
}
.intro3 .intro3__list-slide {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}
.intro3 .intro3__list-slide .intro3__item-slide {
  background-color: white;
  border: 4px solid white;
  width: 25%;
  margin: 0 10px;
  overflow: hidden;
}
.intro3 .intro3__list-slide .intro3__item-slide .intro3__item-img img {
  width: 100%;
  transition: all 0.1s ease;
}
.intro3 .intro3__list-slide .intro3__item-slide .intro3__item-img img:hover {
  transform: scale(1.1);
}
.intro3 .intro3__list-slide .intro3__item-slide .intro3__item-title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  padding: 15px 0;
}
.intro3 .intro3__content {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 16px;
  padding: 40px 0 100px 0;
  font-weight: 600;
  letter-spacing: 0.5px;
  line-height: 25px;
}
.intro3 .intro3__content button {
  margin-top: 50px;
  padding: 12px 20px;
  background-color: transparent;
  border: 3px solid white;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transform: scale(1);
  transition: all 0.3s ease;
}
.intro3 .intro3__content button:hover {
  background-color: #FF7B06;
  padding: 15px 25px;
}
.intro3 .intro3__content button i {
  font-size: 18px;
  margin-left: 5px;
}

.intro4 {
  width: 100%;
  margin-bottom: 100px;
}
.intro4 .intro4__title {
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  padding: 90px 0 75px 0;
}
.intro4 .intro4__list-slide {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
}
.intro4 .intro4__list-slide .intro4__item-slide {
  width: 33%;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #E1E0E0;
  border-radius: 0px 0px 0px 0px;
  box-shadow: 0px 0px 10px 0px grey;
  margin: 0 10px;
}
.intro4 .intro4__list-slide .intro4__item-slide .intro4__item-img {
  width: 90%;
  display: flex;
  margin: 0 auto;
  padding: 20px 0;
}
.intro4 .intro4__list-slide .intro4__item-slide .intro4__item-img img {
  width: 100%;
}
.intro4 .intro4__list-slide .intro4__item-slide p {
  text-align: center;
  padding: 10px 0 30px 0;
  font-weight: bold;
  width: 80%;
  margin: 0 auto;
  line-height: 22px;
}

.intro5 {
  width: 100%;
  background-image: linear-gradient(180deg, #08219F 0%, #2102D5 100%);
  display: flex;
  justify-content: center;
}
.intro5 .intro5__bg {
  display: flex;
  width: 1200px;
  max-width: 100%;
  padding: 50px 0;
}
.intro5 .intro5__bg .intro5__input {
  width: 50%;
}
.intro5 .intro5__bg .intro5__input .intro5__input-title h1 {
  color: #FFFD09;
  font-family: "Arial", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 20px 0px 0px 0px;
  text-align: center;
}
.intro5 .intro5__bg .intro5__input .intro5__input-title span {
  color: white;
  margin: 10px 0px 0px 0px;
  font-family: "Arial", Sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  display: block;
}
.intro5 .intro5__bg .intro5__input .intro5__input-data {
  width: 80%;
  margin: 0 auto;
}
.intro5 .intro5__bg .intro5__input .intro5__input-data input {
  display: block;
  width: 100%;
  padding: 8px 10px;
  margin: 10px 0;
}
.intro5 .intro5__bg .intro5__input .intro5__input-data button {
  width: 100%;
  margin: 20px 10px;
  padding: 10px 20px;
  background-color: #edb017;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.intro5 .intro5__bg .intro5__input .intro5__input-data button:hover {
  background-color: #008FCA;
}
.intro5 .intro5__bg .intro5__contact {
  width: 50%;
}
.intro5 .intro5__bg .intro5__contact .intro5__list_contact {
  padding: 50px 0;
}
.intro5 .intro5__bg .intro5__contact .intro5__list_contact .intro5__item-contact {
  padding: 10px;
}
.intro5 .intro5__bg .intro5__contact .intro5__list_contact .intro5__item-contact i {
  color: #F2E403;
}
.intro5 .intro5__bg .intro5__contact .intro5__list_contact .intro5__item-contact span {
  color: white;
}

.intro6 {
  width: 100%;
  overflow: hidden;
  background-color: #C4C4C45C;
}
.intro6 h1 {
  font-family: "Arial", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 100px 0px 0px 0px;
  text-align: center;
}
.intro6 .intro6__content {
  display: flex;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
.intro6 .intro6__content .intro6__content-img {
  width: 50%;
}
.intro6 .intro6__content .intro6__content-img img {
  width: 100%;
}
.intro6 .intro6__content .intro6__content-list {
  width: 50%;
  margin: 10% 50px;
}
.intro6 .intro6__content .intro6__content-list p {
  margin: 15px 0;
}

.intro7 {
  width: 100%;
  margin-bottom: 100px;
}
.intro7 h1 {
  font-family: "Arial", Sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2em;
  margin: 50px 0px 100px 0px;
  text-align: center;
}
.intro7 .intro7__slider {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.intro7 .intro7__slider .intro7__slider-item {
  width: 20%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.intro7 .intro7__slider .intro7__slider-item img {
  width: 80%;
}

.intro8 {
  background-color: #2F319E;
  width: 100%;
}
.intro8 .intro8__container {
  width: 1200px;
  max-width: 100%;
  display: flex;
  margin: 0 auto;
  padding: 50px 0;
  color: white;
}
.intro8 .intro8__container .intro8__intro-item {
  width: 33.3333%;
}
.intro8 .intro8__container .intro8__intro-item h1 {
  font-size: 18px;
  font-weight: bold;
  padding: 20px 0;
}
.intro8 .intro8__container .intro8__list-content .intro8__item-content {
  padding: 10px 0;
}
.intro8 .intro8__container .intro8__list-content .intro8__item-content input {
  width: 70%;
  padding: 10px;
  outline: none;
}
.intro8 .intro8__container .intro8__list-content .intro8__item-content button {
  width: 70%;
  margin: 20px 10px;
  padding: 10px 20px;
  background-color: #edb017;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.intro8 .intro8__container .intro8__list-content .intro8__item-content button:hover {
  background-color: #008FCA;
}
