/* css for all */
body{
    font-family: Arial, Helvetica, sans-serif;
}



/* css for header */
#header{
    width: 100%;
    height: 89.7125px;
    display: flex;
    justify-content: center;
}
#header .header-inner{
    width: 80%;
    display: flex;
}
#header .header-inner .logo{
    width: 264px;
    height: 89.7125px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.logo img{
    width: 244px;
    height: 69.7125px;
    max-width: 100%;
}
#header .header-inner .nav{
    width: 936px;
    height: 89.7125px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.main-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-menu>ul{
    height: 30px;
    width: 916px;
    display: flex;
    font-size: 15px;
}
.main-menu>li{
    /* margin-right: 15px; */
    width: fit-content;
    
    position: relative;
}
.sub-menu{
    display: none;
}
.main-menu>li>a{
    font-size: 15px;
    text-decoration: none;
    color: #020516;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
    padding: 10px 15px 10px 15px;
    width: 120px;
    height: 30px;
    font-weight: 600;
}
.main-menu>li>a.active{
    color: #0b249e;
    text-shadow: 1px 1px white;
}
.main-menu>li:hover .sub-menu {
    display: block;
    position: absolute;
    top: 27px;
    left: 0;
    background-color: #f4f4f4;
    padding: 10px 0 10px 0;
    width: 220px;
    z-index: 999;
    border: 1px solid #dadada;
    min-width: 220px;
    
}

.main-menu>li:hover .sub-menu li{
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    padding: 7px 0 7px 10px;
    
}
.sub-menu li a{
    text-decoration: none;
    color: #020516;
    font-family: 'Archivo', sans-serif;
    font-size: 14px;
    font-weight: 600px;
    width: 210px;
}

/* css for slider */

#slider{
    width: 100%;
    height: 600px;
    display: flex;
    position: relative;
    padding-top: 20px;
}
.slide-item{
    width: 100%;
    height: 100%;
}
.slide-item img{
    width: 100%;
    height: 100%;
    display: inline;
}
/* css for intro */
#intro1{
    display: flex;
    justify-content: center;
    padding: 84px 0 0 0;
}

.intro1-inner{
    width: 1200px;
    height: 426.875px;
    padding: 10px;
    position: relative;
    display: flex;
}
.intro1-inner .image{
    height: 406.875px;
    width: 495.6px;
    padding: 0 25px 25px 25px;
    text-align: center;
    word-spacing: 0px;
}
.intro1-inner .image img{
    width: 100%;
    height: 382px;
}
.intro1-inner .content{
    height: 406.875px;
    width: 682.412px;
    padding: 25px 0 0 10px;
    line-height: 27px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}
.intro1-inner .content p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 27px;
    text-align: justify;
    margin-top: 15px;
}
